<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-center">
          <h3>Login</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="signIn()">
            <!-- Username Field -->
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" formControlName="email" name="username" required>
            </div>

            <!-- Password Field -->
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" name="password" required>
            </div>

            <!-- Submit Button -->
            <div class="form-group text-center my-3">
              <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
